{% extends "TP/layout.html.twig" %}

{% block titre %}
    Detail
{% endblock %}
{% block menu %}

    <div class="container-fluid">
        <div class="row">
            <div class="my-5 d-flex justify-content-center">
                <h1>Detail {{ app.request.get('id') }}</h1>
            </div>
            <div class="col-md-12 my-3 d-flex justify-content-center">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('TP_index') }}">Accueil</a>
                    </li>
                    <a class="nav-link" href="{{ url('TP_contact') }}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('TP_aboutus') }}">A propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('TP_liste') }}">Liste</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}